import { Component } from '@angular/core';

/*
  Generated class for the <%= className %> component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
*/
@Component({
  selector: '<%= fileName %>',
  templateUrl: '<%= fileName %>.html'
})
export class <%= className %> {

  text: string;

  constructor() {
    this.text = 'Hello World';
  }
}
