import { Component } from '@angular/core';
import { NavController } from 'ionic-angular';

/*
  Generated class for the <%= className %> page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
*/
@Component({
  templateUrl: '<%= fileName %>.html',
})
export class <%= className %> {

  constructor(private navCtrl: NavController) {

  }

}
